In [66]:
%pylab inline
import pandas as pd
import numpy as np
from scipy import stats
import variables
#import matplotlib as mpl
#import matplotlib.pyplot as plt
import seaborn as sns
import os

from variables import working_dir, subjects_list

Populating the interactive namespace from numpy and matplotlib

In [68]:
in_file = '/Users/franzliem/Desktop/test_data/wd/LeiCA_resting/rsfMRI_preproc_wf/registration/_TR_id_645/_subject_id_0183726/write_file/similarity.txt'
subject = '0183726'
subjects_list = ['0183726']

['id', 'bbr_mi', 'flirt6_mi', 'flirt9_mi', 'flirt12_mi', 'bbr_nmi', 'flirt6_nmi', 'flirt9_nmi', 'flirt12_nmi', 'bbr_cr', 'flirt6_cr', 'flirt9_cr', 'flirt12_cr']

AttributeError: 'list' object has no attribute 'flatten'

In [60]:
regs_list = ['bbr', 'flirt6', 'flirt9', 'flirt12']
metrics_list = ['mi','nmi','cr']

def read_reg_file(in_file, subject_id):
    df_ss = pd.DataFrame([subject_id], columns=['id'])
    d = np.genfromtxt(in_file)
    mi, nmi, cr = d
    numdata = np.concatenate([mi, nmi, cr])
    data = [subject_id]
    data += list(numdata)
    header = ['ID']
    for m in metrics_list:
        for r in regs_list:
            header += [r + '_' + m]
    #print header
    #print data
    df = pd.DataFrame(data=data) #, columns=header)
    df = df.T
    df.columns = header
    df = df.set_index(df.ID)
    return df


d = read_reg_file(in_file, subject)
d

,ID,bbr_mi,flirt6_mi,flirt9_mi,flirt12_mi,bbr_nmi,flirt6_nmi,flirt9_nmi,flirt12_nmi,bbr_cr,flirt6_cr,flirt9_cr,flirt12_cr
ID,,,,,,,,,,,,,
0183726,0183726,0.368545,0.381044,0.383996,0.383744,0.388645,0.401185,0.40511,0.405165,0.869945,0.897124,0.903696,0.903652

In [69]:
df = pd.DataFrame()

for subject in subjects_list:
    in_file = os.path.join(working_dir, 'LeiCA_resting/rsfMRI_preproc_wf/registration/_TR_id_645/_subject_id_' + subject,'write_file/similarity.txt')
    df_ss = read_reg_file(in_file, subject)
    df = pd.concat([df, df_ss])

NameError: name 'working_dir' is not defined

# FIGURES

In [71]:
df = pd.read_pickle('/Users/franzliem/Dropbox/00_Print/registrations_df.pkl')
df

,ID,bbr_mi,flirt6_mi,flirt9_mi,flirt12_mi,bbr_nmi,flirt6_nmi,flirt9_nmi,flirt12_nmi,bbr_cr,flirt6_cr,flirt9_cr,flirt12_cr
ID,,,,,,,,,,,,,
0183726,0183726,0.368742,0.38143,0.384238,0.384687,0.388189,0.400992,0.406191,0.406287,0.869735,0.898375,0.90591,0.905902
0152992,0152992,0.320878,0.344339,0.360094,0.361055,0.339764,0.363671,0.381026,0.380525,0.782452,0.836033,0.872489,0.872858
0171391,0171391,0.356588,0.370787,0.376876,0.375071,0.375035,0.388415,0.394177,0.391768,0.825692,0.858698,0.86829,0.867757
0177681,0177681,0.317338,0.335441,0.345074,0.344742,0.346707,0.366679,0.383707,0.379261,0.806244,0.849109,0.873,0.868765
0198985,0198985,0.332716,0.350728,0.351496,0.35112,0.357664,0.37727,0.374119,0.373282,0.786241,0.836019,0.836258,0.835652
0154555,0154555,0.397257,0.408287,0.423354,0.422572,0.362689,0.371861,0.387395,0.38478,0.852352,0.870209,0.896306,0.893665
0155419,0155419,0.370447,0.385998,0.395222,0.395126,0.34791,0.361769,0.369668,0.367689,0.803595,0.845282,0.863275,0.861856
0135591,0135591,0.346551,0.36072,0.371346,0.370382,0.348602,0.362725,0.376454,0.371907,0.808738,0.842076,0.859519,0.857093
0142579,0142579,0.336726,0.334933,0.361148,0.361019,0.303718,0.302081,0.336428,0.33685,0.743873,0.740461,0.798829,0.798846

In [96]:
regs_list = ['bbr', 'flirt6', 'flirt9', 'flirt12']
metrics_list = ['mi','nmi','cr']


for m in metrics_list:
    header = []
    for r in regs_list:
        header += [r + '_' + m]
    #print df[header]
    b = sns.boxplot(df[header], join_rm=True)
    fig = b.get_figure()
    fig.savefig('/Users/franzliem/Dropbox/LeiCA/registration_figs/' + m + '.png')
    fig.clear()

In [89]:
pwd

u'/Users/franzliem/Dropbox/Workspace/LeiCA'